 <%= form_with scope: :user, url: users_path, local: true do |form| %>
  <div id = "form-style">
    <table class = "form-table">
      <tr>
        <td><%= form.label :first_name %></td>
        <td><%= form.text_field :first_name %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :last_name %></td>
        <td><%= form.text_field :last_name %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :id_number %></td>
        <td><%= form.text_field :id_number %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :phone_number %></td>
        <td><%= form.text_field :phone_number %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :password %></td>
        <td><%= form.password_field :password %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.submit "Create Account" %></td>
      </tr>
    </table>
  </div>
<% end %>