<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @user.id_number %>
</p>
<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>
<p>
  <strong>ID number:</strong>
  <%= @user.id_number %>
</p>
<p>
  <strong>Pin:</strong>
  <%= @user.pin %>
</p>
<p>
  <strong>Balance:</strong>
  <%= @user.balance %>
</p>