<%= form_with model: @send, local: true do |form| %>    
  <div id = "send-form">
    <table class = "send-table">
      <tr>
        <td><%= form.label :sender_phone_number %></td>
        <td><%= form.text_field :sender_phone_number %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :recepient_phone_number %></td>
        <td><%= form.text_field :recepient_phone_number %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :sender_id_number %></td>
        <td><%= form.text_field :sender_id_number %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :pin %></td>
        <td><%= form.text_field :pin %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :amount %></td>
        <td><%= form.password_field :amount %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.submit "Send" %></td>
      </tr>
    </table>
  </div>
<% end %>