<%= form_with scope: :send, url: new_send_path, local: true do |form| %>

<% if @send.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@send.errors.count, "error") %> prohibited
        this transaction from being sent:
      </h2>
      <ul>
        <% @send.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :sender_phone_number %><br>
    <%= form.text_field :sender_phone_number %>
  </p>
  <p>
    <%= form.label :recepient_phone_number %><br>
    <%= form.text_field :recepient_phone_number %>
  </p>
  <p>
    <%= form.label :sender_id_number %><br>
    <%= form.text_field :sender_id_number %>
  </p>
  <p>
    <%= form.label :pin %><br>
    <%= form.text_field :pin %>
  </p>
  <p>
    <%= form.label :amount %><br>
    <%= form.password_field :amount %>
  </p>
  <p>
    <%= form.submit "Send" %>
  </p>
<% end %>