<%= form_with scope: :deposit, url: deposits_path, local: true do |form| %>
  <div id = "deposit-page">
    <table class = "deposit-form">
      <tr>
        <td><%= form.label :first_name %></td>
        <td><%= form.text_field :first_name %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :last_name %></td>
        <td><%= form.text_field :last_name %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.label :deposits %></td>
        <td><%= form.text_field :deposits %></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td><%= form.submit "Deposit Amount" %></td>
      </tr>
    </table>
  </div>
<% end %>
